*{
    -fx-font-family: Tahoma, Arial, sans-serif;
}
.loginFrame{

}


.loginHeading{

    -fx-text-fill: #eee;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}
.loginButton{
    -fx-background-color: inherit;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-text-fill: #ffffff;
}

.loginButton:pressed{
    -fx-background-color: #999;
}

.loginButton:focused{
    -fx-border-style: none;
    padding:0;
}

.loginButton:hover{
    padding:0;
    -fx-cursor: hand;
    -fx-underline: true;
}

.loginPanel{
    -fx-padding:10px;
    -fx-spacing: 5px;
    -fx-alignment: center;
}

.loginLabel{
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-text-fill: #fff;
}

#loginCenter{
    -fx-background-color: #464646;
}
#loginBottom{
    -fx-background-color: #373737;
}
#loginTop {
    -fx-background-color: #464646;
}

.disabledLoginTextField{
    -fx-background-color: #797979;
    -fx-text-fill: #e8e8e8;
}